<nav class="bg-gray-800">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <span class="text-white font-bold">Admin Dashboard</span>
        </div>
        <div class="hidden md:block">
          <div class="ml-10 flex items-baseline space-x-4">
            <%= link_to 'Dashboard', admin_root_path, 
                class: "text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium", data: { turbo: false } %>
            <%= link_to 'Feedbacks', admin_feedbacks_path, 
                class: "text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
